.hidden{
    display: none;
}

.show-menu{
    position: absolute;
}

  .profile-dropdown.hidden {
    display: none;
  }

  .modal-link:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  